# Build directories
/build/
/bin/
/obj/
/dist/

# Arquivos de compilação do Qt
*.pro.user
*.pro.user.*
*.qmake.stash
*.moc
moc_*
*.qrc
qrc_*
*.qmlc
*.rcc
rcc_*
*.o
*.obj
*.so
*.a
*.dll
*.dylib
*.exe
*.app
*.pch

# Compilador e arquivos temporários
*.exe
*.o
*.out
*.a
*.so
*.dll
*.lib

# Arquivos de editor/IDE
*.creator
*.creator.user
*.creator.user.*
*.swp
*.tmp
*.log
*.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Outros gerados automaticamente
*.gch
*.autosave
*.cps
*.prl
*.lrelease
*.lupdate
